{% extends 'renu.html' %}

{% block title %} Satta bazer | About Us {% endblock title %}

{% block css %}

.div4{
    background-image: url("/static/images/6.png");
    height: 270px;
}

.div6{
    margin: 80px auto;
    margin-left: 100px;
}

.about{
    width: 500px;
}

{% endblock css %}


{% block body %}

  <!--Page Title-->
  <div class="div4">
  <section class="page-title">
    <div class="auto-container"><br>
    <div class="div6">
        <h1>About Us</h1>
        <div class="title">Sattaking.agency India's Best Satta Company.</div>
    </div>
    </div>
</div>
    <!--Page Info-->
    <div class="page-info">
        <div class="auto-container mt-2">
            <div class="inner-container">
                <ul class="bread-crumb ">
                    <b><a href="/">Home</a></b> &nbsp;  > <b>About us</b>
                    
                </ul>
            </div>
        </div>
    </div>
    <!--End Page Info-->
</section>

<br>
<div class="container">
<div class="row">
    <div class="col-md-12">
    <h2 style="text-align: justify; text-align: center; color: #c30d23;">ABOUT SATTA KING</h2>
    <p style="text-align: justify; color: black;">Sattaking provides a gaming facility to its customers who want become rich. We provide best sattaking result online in cities like Faridabad, Ghaziabad gali deswar. Our gaming facility is on daily basis and online. Customers do not need to visit directly to us. Rather they can enjoy the game online from their home or office. We provide fast result based on our genuine satta chart.</p>
    </div>
    <!-- <div class="col-md-12"> -->
    <!-- <img src="/static/home/images/9.jpg" class="about"></div> -->
<!-- </div> -->
</div>
<br>
<br>
<div class="container">
<div class="row">
    <!-- <div class="col-md-7"> -->
    <!-- <img src="/static/home/images/10.png" class="abots"></div> -->
    <div class="col-md-12">
    <h2 style="text-align: justify; text-align: center; color: #c30d23;">WHAT IS SATTA KING</h2>
    <p style="text-align: justify; color: black;">Sattaking is one of the popular game played nearly in every part of the country. People pick a number or more between 1 to 100. After that sattaking agency reveals one number. People who have choosen that number are given 90 times more money then they have invested on it. Thus they become rich without any heavy investment and that to in a single day.</p>
    </div>
    
</div>
</div>
<br>
<br>
<div class="container">
<div class="row">
    <div class="col-md-12">
    <h2 style="text-align: justify; text-align: center;  color: #c30d23;">WHEN IT IS STARTED</h2>
    <p style="text-align: center; color: black;">Sattaking has started in the early1980’s and and is being played by thousands till date.</p>
    </div>
    </div>
    </div>
    <br>
    
    <div class="container">
<div class="row">
    <div class="col-md-12" style="text-align: justify;">
    <h2 style="text-align: justify; text-align: center; color: #c30d23;">GOD FATHER OF SATTA KING</h2>
    <p style="text-align: center; color: black;">Tasim khan is known as the godfather of the sattaking game. He bring this game to the world of internet and made its reach to a large number of people. He launched a website www.satta-king.in. Many people started betting in the sattaking game and earned lots ofmoney. This game starts on 4 PM in Ghaziabad and Delhi. Satta king Ghaziabad provides fast result as compared to others in a very transparent way. We provide all the live results to customers who have betted in any number. All people can see the satta king chart on the website and get all the information related to the game direct on their hand.</p>
    <br>
    <p><h2 style="text-align: justify; text-align: center; color: #c30d23;">What is Satta king ?</h2>
<p style="text-align: center; color: black;">Sattaking is a game like lottery in which people pick a number between 1 and 100. Satta king opens up a number known as satta matka lucky number. Customers who have choosen that number are given 90 times more money then they have betted. The winner of the game is known as satta king satta matka king. This game was earlier known as satta matka.
<br>
<p><h2 style="text-align: center; color: #c30d23;">History of Satta king(सट्टा किंग)</h2>
<p style="text-align: center; color: black;">United States of America (USA) WAS the first country to start this game based on the opening and closing rate of the cotton reveled by new your cotton exchange. After this exchange closed this game in 1960’s bookies started this game based on random number.Kalyanji Bhagat and Ratan Khatri started this game in India in 1961. They started this game by picking a random number from a pot which contains numbers 1 to 100 written on slip and people who have betted on it won the money. This game was started by Ratan Khatri. In 1962 Kalyanji Bhagat started this game with some different rules. The popularity of this game grew up day by day and is now played in nearly all the parts of the country.
<br>
<p><h2 style="text-align: center; color: #c30d23;">How to play satta king ?</h2>
<p style="text-align: center; color: black;">Playing sattaking is very easy. For this game to operate three key agents are required, the gamer(Person who plays the game), The khaiwal(a mediator between the gamer and the company), And the company which operates the game. People choose a number between 0 to 100. The khaiwal collects the money and number which is choosen by that person and delivers it to the company. The company announces a lucky number called satta result. Then the khaiwal delivers the winning money which is equal to the 90 times he has putted on the game, compleating the chain. People can also play the game online with sattaking.agency which provides quick online results and also satta king chart gali desawar to its customers in Ghaziabad and Delhi.
<br>
<p><h2 style="text-align: center; color: #c30d23;">Why you should play satta king online and how ?
</h2>
<p style="text-align: center; color: black;">Playing sattaking online is very easy and fast. You just need to open our website sattaking.agency and bet on a number. All the transactions will be done online. No one can catch you in the internet world including administration.  It is safe and secure and provides fast result to you.
<br>
<p><h2 style="text-align: center; color: #c30d23;">What are the different types of Satta King game ?</h2>
<p style="text-align: center; color: black;">There are mainly four types of Satta king game played in India, Disawar, Gali, Gaziyabad and Faridabad. Except of these four games many khaiwal started their own game independently like Rajkot, Taj, New Faridabad, Hidustan, Peshawar, etc.


    </p>
    
    </div>
    </div>
    </div>
    <br>
    <br>
</div>
</div>  


{% endblock body %}