{% extends 'renu.html' %}

{% block title %} LEAKSATTAKING {% endblock title %}

   {% block css %}
    .user1{
      background-image: url("/static/images/2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    .div1{
      background-image: url("/static/images/7.png");
      background-repeat: no-repeat;
      background-size: cover;

    }
    .detail_heading_h21{
       width: 70px;
       height: 70px;
       background: rgb(254, 254, 255);
       margin: 10px auto;
       border-radius: 40%;


       position: relative;
       color: rgba(250, 4, 4, 0.89);
       padding-top:10px;
}
.div2{
  background-image: url("/static/images/3.jpg");
   background-repeat: no-repeat;
  background-size: cover;

}

.table {
  width: 100%;
  margin-bottom: -1.5rem;
  color: #212529;
}


   
{% endblock css %}

  
    {% block body %}
    {% load static %}
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDZF92C"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <h3> 
    <marquee><span style=" color: rgb(199, 8, 56);">SATTA RESULT,DELHI BAZAR, SHREE GHANESH,FARIDABAD,GAJIYABAD,LEAKSATTAKING, GALI SATTA, SATTA BAZZER 2021, DELHI SATTABAZZER, DESAWAR, SATTA BAZZER RESULT, SATTA BAZZER ONLINE, BLACK SATTA KING, DELHI SATTA BAZZER, SATTA BAZZER CHART, SATTAKING LIVE TOADY ,GALI SATTA SATTA.COM, SATTA BAZZER.COM, SATTA RESULTS, SATTA CHART,SATTA BAZZER.COM, </span></marquee>
     </h3>
 <div class="text-center">
    
    <h1 style="margin-top: 1px; margin-bottom: 10px;">LEAKSATTAKING.IN SATTA RESULT</h1>
    <img src="/static/images/9.gif" alt="satta king" hight="75" width="150" />&nbsp; <b style="font-size:30px; color:red;">SATTA RESULT</b>
</div>

<center>
      
      
      <!-- <span><i><b> INDIA NO.1 LEAKSATTAKING.IN SITE WELCOME. HERE YOU MAY GET EXCELLENT ESTIMATION BY PRIME INDIVIDUAL AND QUICK MATKA RESULT. GALI DISAWAR FIX SINGLE JODI KE LIYE HERE YOU FIND TOP SATTA MARKET OF INDIA FARIDABAD GHAZIABAD GALI *DESAWAR SATTA TIPS *FAST SATTA RESULT * GALI DISAWAR GAZIABAD FARIDABAD *SATTA GUESSING POWERED BY SATTASPORT.COM </b></i></span> <br> -->
    
    <div class="div1 mt-3"  color:#FEFEFE; font-weight: bold; font-style: oblique; font-size: large; text-decoration: none; border-width: 3px; border-color:#2f20b4; border-style: outset; margin-top: 2px; padding: 10px; border-radius: 10px; text-align: center;"><br>
    <font color="#fff"  size="6"><b>SATTA LEAKSATTAKING RECORD CHART RESULT GALI DISAWAR</b></font>
    <br>
    <font color="#F00A3B" size="4"><span><b>SATTA BAZZER LEAKSATTAKING ONLINE BLACK SATTA BAZZER</b>&nbsp; <b>FAST LIVE RESULT LEAK NUMBER</b><hr><b>आपके लिए डायरेक्ट दिशावर GALI FARIDABAD GAJIYABAD ब्रांच कपंनी से साँलिड लीक गेम रिपोर्ट जो लोग पैसा कमाना चाहते है वो लोग हमारा लीक गेम खेलकर पैसा कमा सकते है रोजाना हमारा पेंमठ जमा करवाओ हम आपको डेली प्रॉफिट करवायेगें जो भाई Game खेल सकते है वो ही TELEGRAM JOIN करें</b>  &nbsp; </span></font><br><hr><br><img src="/static/images/down.png" alt="satta Bazzer"/><br>
    <font color="#FEFEFE" size="5">OWNER OF LEAKSATTAKING.IN <br> PRIVATE LIMITED COMPANY<br>(RD KUMAR)</font>
    <br>
    <font color="#fff" size="6"><a href="https://t.me/joinchat/3JoRoxcZx_YyOTY1"><b>9817647477</b></a><br><button type="button" class="btn btn-warning p-10 mb-4"><a href="https://t.me/joinchat/3JoRoxcZx_YyOTY1">TELEGRAM AVAILABLE </a></button><br></font>
    </div>
  
    <style type="text/css">
    <!--
    .style1 {color: #f15c5c}
    -->
    a {
    color:#F00A3B;
    font-weight:bold;
    text-decoration:none;
    }
    </style> 
    <table>
    
        <center>

            <div id="head">
            Wellcome <bold>Guest</bold>
            </div>
            
            
            <div align="center">
            <table width="100%" border="0">
              <tr>
                <td colspan="2" bgcolor="#00000"><div align="center" class="style1">
            <font color="#FEFEFE" size="3"><br/>हा भाई यही आती हे सबसे तेज़ खबर रूको और धेखो </font>
                </div></td>
                </tr>
              </table>
            </div>

            <div  class="div2 "style=" color:#FEFEFE; font-weight: bold; font-style: oblique; font-size: large; text-decoration: none; border-width: 3px; border-color:#f5f5f5; border-style: outset; margin-top: 2px; padding: 10px; border-radius: 10px; text-align: center;">
                <font color="#E74C3C" size="5"><a href="https://LEAKSATTAKING.IN">LEAK SATTA SINGLE JODI </a></font><hr>
                <font color="#7D3C98" size="4"><span>
                </span></font><br><hr>         
                <img src="/static/images/down.png" alt="satta king"/><br>
                <font color="#B03A2E" size="4">DISAWAR GALI FARIDABAD GAJIYABAD MANAGING DIRECTOR<br>(MASK BHAI)</font>
                <br>
                <font color="#E74C3C" size="6"><a href="https://t.me/joinchat/3JoRoxcZx_YyOTY1"><b>#9191584512</b></a><br><button type="button" class="btn btn-outline-warning p-10 mb-4"><a href="https://t.me/joinchat/3JoRoxcZx_YyOTY1">TELEGRAM AVAILABLE </a></button><br></font>
                </div
              
                
        
                       	  	  
        <div class="liveresult">
                      
                    <script type="text/javascript">
                       var tmonth = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
                       function GetClock(){
                       var d = new Date();
                       var nmonth = d.getMonth(), ndate = d.getDate(), nyear = d.getFullYear();
                       var nhour = d.getHours(), nmin = d.getMinutes(), nsec = d.getSeconds(), ap;
                       if (nhour == 0){ap = " AM"; nhour = 12; }
                       else if (nhour < 12){ap = " AM"; }
                       else if (nhour == 12){ap = " PM"; }
                       else if (nhour > 12){ap = " PM"; nhour -= 12; }
       
                       if (nmin <= 9) nmin = "0" + nmin;
                       if (nsec <= 9) nsec = "0" + nsec;
                       document.getElementById('clockbox').innerHTML = "" + tmonth[nmonth] + " " + ndate + ", " + nyear + " " + nhour + ":" + nmin + ":" + nsec + ap + "";
                       }
       
                       window.onload = function(){
                       GetClock();
                       setInterval(GetClock, 1000);
                       }
                   </script> <div class="datetime text-center" style="background-color: hsla(118, 51%, 39%, 0.616);">
                           <h1> : Satta king Result :</h1>
                           <img src="/static/images/small.gif" alt="satta king" hight="75" width="200"/>
                           <!-- <span class="blink_me">&#2361;&#2366; &#2349;&#2366;&#2312; &#2351;&#2361;&#2368; &#2310;&#2340;&#2368; &#2361;&#2375; &#2360;&#2348;&#2360;&#2375; &#2346;&#2361;&#2354;&#2375; &#2326;&#2348;&#2352; &#2352;&#2370;&#2325;&#2379; &#2324;&#2352; &#2342;&#2375;&#2326;&#2379;</span> -->
                   <div style="color:rgb(76, 0, 255); font-weight:bold" id="clockbox"></div></div>

                   <div style="color:rgb(228, 37, 37); font-weight:bold" id="clockbox"></div></div>
<div class="pb-4">
<div class="">
<div class="text-center">
<div class="user1">
<div class="mt-3 mb-3">
<div class="text-center mb-10">
<div class="details_front">
<class="detail_heading_h5">
    {% for i in sug %}    
<h1 class="text-white" size="10">
   
{{i.title}}</h1>
<h1 class="detail_heading_h21">
{{i.count}} </h1>
{% endfor %}
</div>
</div>
 <div class="text-center mb-10">
<div class="details_front">
<class="detail_heading_h5">
<font color="#00ffff" size="7">
{{title}} </font>
<h2 class="detail_heading_h21" style="background-color: #3195e7;">
30 </h2>
 </div>
</div>
<div class="text-center mb-10">
<div class="details_front">
<class="detail_heading_h5">
<font color="#00ffff" size="7">
फरीदाबाद </font>
<h2 class="detail_heading_h21" style="background-color: #3195e7;">
33 </h2>
</div>
</div>
</div> 


<!-- <div class="text-center" style="background-color: #fff;padding: 10px;">
    <table class="table table-bordered table-striped table-hover">
    <thead style="background-color: cadetblue;">
    <tr>
    <th>SATTA NAME</th>
    <th>KAL KA RESULT</th>
    <th>AAJ KA RESULT</th>
    </tr>
    </thead>
    {% for j in mu %}
    
    <tbody>
    <tr>
    <th>
    {{j.name}} <br>
    {{j.time}} </th>
    
    <td style="font-weight: 700; font-size: 29px;color:black">{{j.num}}</td>
    <td style="font-weight: 700; font-size: 35px;color:black">{{j.stor}} <img src="/static/images/new.gif" alt="satta up satta result satta satta king satta king up" width="25"></td>
  
</tr>
{% endfor %}  
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>  -->
  
   

    <div class="text-center">
    <div class="user">
    <div style="background-image: linear-gradient(rgb(248, 245, 245), rgb(255, 0, 0)); "><h2><font color="black" style="font-weight:bold;" size="5">डायरेक्ट सट्टा कंपनी से रिजल्ट और रिकॉर्ड</font></h2></div>
    <div id="table">
      
    <table class="table table-hover table-responsive-sm table-striped" style="width: 100%;">
    <thead>
    <tr style="background-color: rgba(255, 255, 255, 0.986);">
    <th>Date</th>
    <th>DESAWAR</th>
    <th>FARIDABAD</th>
    <th>GHAZIABAD</th>
    <th>GALI</th>
    <!-- <th>GALI</th> -->
    <!-- <th>SHRI GANESH</th>
    <th>DELHI DARBAR</th> -->
    </tr>
    </thead>
    <tbody>
    <tr class="table-primary">
    <!-- <th scope="row">1-09-20</th>
    <td>XX</td>
    <td>96</td>
    <td>41</td> -->
    <!-- <td>33</td> -->
    <!-- <td>33</td>
    <td>41</td> -->
    </tr>
    <tr class="table-primary">
    <!-- <th scope="row">2-09-20</th>
    <td>86</td>
    <td>50</td>
    <td>07</td> -->
    <!-- <td>01</td> -->
    <!-- <td>07</td>
    <td>01</td> -->
    </tr>
    <tr class="table-primary">
    <!-- <th scope="row">3-09-20</th>
    <td>55</td>
    <td>07</td>
    <td>23</td> -->
    <!-- <td>91</td> -->
    <!-- <td>23</td>
    <td>91</td> -->
    </tr>
    <tr class="table-primary">
    <!-- <th scope="row">4-09-20</th>
    <td>55R</td>
    <td>40</td>
    <td>44</td> -->
    <!-- <td>03</td> -->
    <!-- <td>44</td>
    <td>03</td> -->
    </tr>
    <tr class="table-primary">
    <!-- <th scope="row">5-09-20</th>
    <td>52</td>
     <td>23</td>
    <td>58</td> -->
    <!-- <td>57</td> -->
    <!-- <td>58</td>
    <td>57</td> -->
    </tr>
    <tr class="table-primary">
    <!-- <th scope="row">6-09-20</th>
    <td>43</td>
    <td>92</td>
    <td>15</td> -->
    <!-- <td>30</td> -->
    <!-- <td>15</td>
    <td>30</td> -->
    </tr>
    <tr class="table-primary">
    <!-- <th scope="row">7-09-20</th>
    <td>83</td>
    <td>14</td>
    <td>91</td> -->
    <!-- <td>08</td> -->
    <!-- <td>91</td>
    <td>08</td> -->
    </tr>
    <tr class="table-primary">
    <!-- <th scope="row">8-09-20</th>
    <td>29</td>
    <td>47</td>
    <td>85</td> -->
    <!-- <td>08</td> -->
    <!-- <td>85</td>
    <td>08</td> -->
    </tr>
    <tr class="table-primary">
    <!-- <th scope="row">9-09-20</th>
    <td>74</td>
    <td>87</td>
    <td>33</td> -->
    <!-- <td>04</td> -->
    <!-- <td>33</td>
    <td>04</td> -->
    </tr>
    {% for r in read %}
    <tr class="table-primary">
    <th scope="row">{{r.date}}</th>
    <td>{{r.deshwer}}</td>
    <td>{{r.fridabad}}</td>
    <td>{{r.gaziybad}}</td>
    <td>{{r.gali}}</td>
    {% endfor %} 
    <!-- <td>08</td> -->
    <!-- <td>36</td>
    <td>08</td> -->
    </tr>
    <!-- {% for r in read %}
    <tr class="table-primary">
    <th scope="row">{{r.date}}</th>
    <td>{{r.deshwer}}</td>
    <td>{{r.fridabad}}</td>
    <td>{{r.gaziybad}}</td>
    <td>{{r.gali}}</td>
    <td>{{r.shrignash}}</td>
    <td>{{r.delhibazzer}}</td>
    {% endfor %} -->
    </tr>
    
    </tbody>
    
    </table>
    
    </div>
    </div>
    </div>
    </div>
  
         
 
    <div class="text-center">
      <div class="user">
      <div style="background-image: linear-gradient(rgb(248, 245, 245), rgb(255, 0, 0)); "><h2><font color="black" style="font-weight:bold;" size="5">डायरेक्ट सट्टा कंपनी से रिजल्ट और रिकॉर्ड</font></h2></div>
      <div id="table">
        
      <table class="table table-hover table-responsive-sm table-striped" style="width: 100%;">
      <thead>
      <tr style="background-color: rgba(255, 255, 255, 0.986);">
      <th>Date</th>
      <th>GALI</th>
      <th>SHRIGANESH</th>
      <th>FARIDABAD</th>
      <th>GAZIYABAD</th>
      <th>DISAWER</th>
      <th>DHANLAXMI</th>
      <th>DELHI BAZZER</th>
      <!-- <th>GALI</th> -->
      <!-- <th>SHRI GANESH</th>
      <th>DELHI DARBAR</th> -->

      </tr>
      </thead>
      <tbody>
      {% for k in pol %}
      <tr class="table-primary">
      <th scope="row">{{k.date}}</th>
      <td>{{k.gali}}</td>
      <td>{{k.shrignash}}</td>
      <td>{{k.delhibazzer}}</td>
      <td>{{k.fridabad}}</td>
      <td>{{k.gaziyabad}}</td>
      <td>{{k.disawer}}</td>
      <td>{{k.dhanlaxmi}}</td>
      <!-- <td>33</td> -->
      <!-- <td>33</td>
      <td>41</td> -->
      {% endfor %}
      </tr>
       <!-- <tr class="table-primary">
      <th scope="row">2-09-20</th>
      <td>86</td>
      <td>50</td>
      <td>07</td> -->
      
      
      
      </tbody>
      
      </table>
     
    
      <div class="container-fluid mt-4">
        {% for m in sag %}
        <h2> {{m.title}}</h2>
        <p>{{m.content|safe}}</p>
        {% endfor %}
       
      </div>

      </div>
      </div>
      </div>
      </div>   


  
  
    
    
{% endblock body %}
                        