<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Leaksattaking.in">
<meta name="description" content="2021 Satt king live satta bazar leaksattaking number jodi fix satta matka  live today resust gali satta king chart, Satta King,sattaking, सट्टा किंग , satta result,  2021, satta king satta kig gajiyabad  desawar desawer  Shre Ghanesh Delhi bazar satta live Faridabad live today results leak satta king leaksattaking.in">
<meta name="keywords" content="leaksattaking.in sattabazar leak satta number fixSatt king live satta bazar sattaking number jodi fix satta matka sattaking.com live today resust gali satta king gajiyabad  desawar desawer  Shre Ghanesh Delhi bazar satta live Faridabad live today results leak satta king leaksattaking.in">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="revisit-after" content=" days">
<meta name="author" content="leaksattaking.in">
    <!-- Global site tag (gtag.js) - Google Analytics -->
       <script async src="https://www.googletagmanager.com/gtag/js?id=G-C881Z93DV1"></script>
        <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C881Z93DV1');
        </script>  
       <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WDZF92C');</script>
  <!-- End Google Tag Manager -->
        

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <style>
      {% block css %} {% endblock css %}
    </style>
  </head>
  <body>

      	<!--Header Top-->
        <header class="site-header bg-info text-white-0_5" style="height: 48px;">
          <div class="container">
            <div class="row align-items-center justify-content-between mx-0">
              <ul class="list-inline d-none d-lg-block mb-4">
                <li class="list-inline-item mr-3">
                 <div class="d-flex align-items-center">
                  <i class="ti-email mr-2"></i>
                  <a href="mailto:info@knowledgekaadda.in" style="color:rgb(223, 7, 7);">LEAKSATTAKING.IN</a>
                 </div>
                </li>
                <li class="list-inline-item mr-3">
                 <div class="d-flex align-items-center">
                  <i class="ti-headphone mr-2"></i>
                  <a href="tel:+91 000000000" style="color:white;"></a>
                 </div>
                </li>
              </ul>
              <ul class="list-inline mb-0">
                <li class="list-inline-item mr-0 p-3 border-right border-left border-white-0_1">
                  <a href="https://m.facebook.com/Sattaking-Leak-107154704766563/?__tn__=C-R"><i class="fab fa-facebook fa-lg" style="color: white;"></i></a>
                </li>
                <li class="list-inline-item mr-0 p-3 border-right border-white-0_1">
                  <a href="https://m.facebook.com/Sattaking-Leak-107154704766563/?__tn__=C-R"><i class="fab fa-instagram fa-lg" style="color:white"></i></a>
                </li>
                <li class="list-inline-item mr-0 p-3 border-right border-white-0_1">
                  <a href="https://m.facebook.com/Sattaking-Leak-107154704766563/?__tn__=C-R"><i class="fab fa-twitter fa-lg" style="color:white"></i></a>
                </li>
                <li class="list-inline-item mr-0 p-3 border-right border-white-0_1">
                  <a href="https://t.me/goodluckprofit/"><i class="fab fa-telegram fa-lg" style="color:white"></i></a>
                </li>
                
      
              </ul>
      
      
      
            </div> <!-- END END row-->
          </div> <!-- END container-->
      </header><!-- END site header-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
        <a class="navbar-brand" href="/">LEAKSATTAKING.IN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
          </ul>
        </div>
      </nav>

      
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5f46c6d3cc6a6a5947af19db/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script> 
  <!--End of Tawk.to Script-->

{% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>message!</strong> {{message}}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}

{% block body %} {% endblock body %}


<footer class="site-footer">
  <div class="footer-top bg-dark text-white-0_6 pt-5 paddingBottom-100">
    <div class="container"> 
      <div class="row">
        <div class="col-lg-3 col-md-10 mt-12">
            <h4 class="h5 text-white">About Us</h4>
            <div class="width-3rem bg-primary height-3 mt-3"></div>
             <div class="margin-y-40">
               <p><b class="text-white">आपके लिए डायरेक्ट दिशावर GALI FARIDABAD GAJIYABAD ब्रांच कपंनी से साँलिड लीक गेम रिपोर्ट जो लोग पैसा कमाना चाहते है वो लोग हमारा लीक गेम खेलकर पैसा कमा सकते है रोजाना हमारा पेंमठ जमा करवाओ हम आपको डेली प्रॉफिट करवायेगें जो भाई Game खेल सकते है वो ही <a href="https://t.me/joinchat/3JoRoxcZx_YyOTY1">  TELEGRAM JOIN  करें</b></p> </a> 
              .
             </div>
        </div>

        <div class="col-lg-3 col-md-9 mt-12" style="text-align: center;">
          <h4 class="h5 text-white">Socal Media</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <ul class="list-unstyled marginTop-40">
           <li><a href="https://m.facebook.com/Sattaking-Leak-107154704766563/?__tn__=C-R"><i class="fab fa-facebook-f fa-lg mb-3" style="color: lightblue"></i></a></li>
           <li><i class="fab fa-instagram fa-lg mb-3" style="color: lightblue"></i></li>
           <li><i class="fab fa-twitter  fa-lg mb-3" style="color: lightblue"></i></li>
           <li><i class="fab fa-telegram fa-lg" style="color: lightblue"></i></li>
            <li class="mb-3">
             <div class="media">
              <i class="ti-location-pin mt-2 mr-3"></i>
              <div class="media-body">
               
              </div>
             </div>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-9 mt-12" style="text-align: center;">
          <h4 class="h5 text-white">Quick links</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <ul class="list-unstyled marginTop-40">
           
            <li class="mb-2 "><a href="{% url 'about' %}"><b class="text-white">About Us</b></a></li>
            <li class="mb-2 "><a href="{% url 'desc' %}"><b class="text-white">Disclaimer</b></a></li>
            <li class="mb-2 "><a href="{% url 'privacy' %}"><b class="text-white">Privacy Policy</b></a></li>
            <li class="mb-2 "><a href="{% url 'terms' %}"><b class="text-white">Terms & Conditions</b></a></li>
            <li class="mb-2 "><a href="{% url 'contact' %}"><b class="text-white">Contact</b></a></li>
         
          </ul>
        </div>

        <div class="col-lg-4 col-md-9 mt-12">
          <h4 class="h5 text-white">Newslatter</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <div class="marginTop-40">
            <p class="mb-4"><b class="text-white">Subscribe to get update and information. Don't worry, we won't send spam!</b></p>
            <form class="marginTop-30" action="." method="POST"> {% csrf_token %}
              <div class="input-group">
                <input type="text" placeholder="Enter your email" name="email" class="form-control py-3 border-white" required="">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Subscribe</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> <!-- END row-->
    </div> <!-- END container-->
  </div> <!-- END footer-top-->
  <div  style="text-align: center; background-color: black; color: rgb(255, 255, 255); margin-bottom: -1%;">
    <p class="float-end"><a href="#" style="color: rgb(255, 255, 255);"><b>Back to top</b></a></p>
<p>&copy; <b>2020-2021 Company, Inc.</b></p>
  </div>
  
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>